/node_modules
/vendor

.env
.env.backup
.env.production
.env.*.local
.env.testing

/public/build
/public/hot
/public/storage

/public/uploads/*
!/public/uploads/.gitkeep
/public/uploads/avatars/*
!/public/uploads/avatars/.gitkeep
/public/uploads/bukti/*
!/public/uploads/bukti/.gitkeep

/storage/*.key
/storage/app/public/*
!/storage/app/public/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep

*.sqlite
*.sqlite3
*.sqlite-journal
*.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.phpunit.result.cache
.phpunit.cache/
/coverage

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
ehthumbs.db