.git
.github
.editorconfig
.styleci.yml
node_modules
npm-debug.log
yarn-error.log
vendor
.env
.env.backup
.phpunit.result.cache
phpunit.xml
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
