APP_NAME="SIM Klinik"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8096
APP_TIMEZONE=Asia/Jakarta

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3312
DB_DATABASE=sim_klinik
DB_USERNAME=simklinik
DB_PASSWORD=simklinik123

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file
QUEUE_CONNECTION=sync

VITE_APP_NAME="${APP_NAME}"
